{% load static %}
<!DOCTYPE html>
<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/bootstrap.min.css">
        <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% get_static_prefix %}css/style.css?v=0.2">

    </head>

    <!-- Main Body -->
    <body  onload="userinfo({{ start }},{{ end }});" class="index">
        <div class="col-md-12">
            <ul class="nav nav-tabs">
              <li role="presentation" class="active" style="background-color: #5e5e5e"><a href="#">Github Users Details</a></li>
            </ul>
        </div>
        <div class="col-md-10" id="github_user" style="margin-left: 120px; width: 80%; padding-top: 10px">

        </div>

    </body>


    <script>
        var USERDATA = '{% url "userdata" %}';
    </script>

    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}js/jquery.min.js"></script>
    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}js/bootstrap.min.js"></script>
    <script type="text/javascript" language="javascript" src="{% get_static_prefix %}js/app.js"></script>



</html>